<section class="container">
  <a href="/article/{{id}}">
    <h3 class="articke-title">{{title}}</h3>
    <h4>By: {{creator.username}}</h4>
    <h4>Post Date: {{format_time post_date}}, {{format_date post_date}}</h4>
    <p>{{truncateContent content 50}}</p>
  </a>

</section>